<div class="col-4 mt-2 text-left">
  <div>Online: <div id="online" class="text-success"></div></div>
</div>

<p id="notice"><%= notice %></p>

<h1>Rooms</h1>
<ul class="mt-4 list-unstyled">
  <%= render @rooms %>
</ul>
<div class="mt-2">
  <%= render 'rooms/form', room: @room %>
</div>
